body { 
  background-color: #262626;
  margin: 0;             /* Eliminar márgenes predeterminados */
  height: 100vh;         /* Asegurarse de que el cuerpo ocupe toda la altura de la ventana */
  display: flex;         /* Usar Flexbox */
  justify-content: center; /* Centrar el contenido horizontalmente */
  align-items: center;   /* Centrar el contenido verticalmente */
  background-color: #262626; /* Color de fondo para darle algo de contraste */
}

/* Estilo base para el botón */
#btnContador {
  width: 500px;          /* Ancho del botón */
  height: 500px;         /* Alto del botón, debe ser igual al ancho */
  background-color: red; /* Color de fondo */
  color: white;          /* Color del texto */
  font-size: 16px;       /* Tamaño de la fuente */
  font-weight: bold;     /* Negrita */
  border: none;          /* Sin borde */
  border-radius: 50%;    /* Esto hace que el botón sea 100% redondo */
  cursor: pointer;      /* Cambiar el cursor a pointer para indicar que es clickeable */
  display: flex;         /* Para centrar el texto en el medio */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center;   /* Centrar verticalmente */
  transition: background-color 0.3s ease; /* Animación suave de color */
  outline: none;         /* Eliminar el borde de enfoque en algunos navegadores */
  
  
}

#btnContador:hover {
  background-color: darkred; /* Cambiar color cuando se pasa el ratón por encima */
}